@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tippy.js/dist/tippy.css";

:root {
  --background: #242526; /* grey background */
  --foreground: #000000; /* black text */
  --font-sans: system-ui, sans-serif;
  --font-mono: monospace;

}

body {
  background: var(--background);
  color: #FFFFFF;
  font-family: var(--font-sans);
}

title {
  color: #FFFFFF;
}

label {
  color: #FFFFFF;
}

.square {
  height: 50px;
  width: 50px;
  background-color: var(--background);
}

